@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
h3, h1{
    margin-top: 0;
}
.first-section{
    /* background: rgb(44,38,133);
    background: linear-gradient(90deg, rgba(44,38,133,1) 0%, rgba(157,106,194,1) 48%, rgba(108,156,166,1) 100%);   */
    /* height:100vh; */
    background-color:#F6EBFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 } 
.container{
/* color:white; */
margin: 0 auto;
/* max-width: 1100px; */
width: 80%;
}
.row{
  display:flex;
  justify-content: space-between;
  color:#695D8E;
}
.logo{
  height:30px;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius:2rem; 
}
.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.logo p{
  font-weight:700;
}
.navbar{
  padding:1rem 0;
  display: flex;
  width: 100%;
}
.nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.nav-primary{
    margin: 0 auto;
}
.nav-list{
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 900;
}
/* second section begins */
.second-section{
    background-image: url("images/image01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: 3rem; */
}
.background-color{
    background-color: rgba(179,156,208,0.6);
    /* opacity: 0.6; */
}
.button{
  width:8rem;
  text-align:center;
  background-color:#F6EBFF;
  padding: 0.45rem 0.75rem;
  border-radius:3rem;
  margin: 2rem 0;
}
.button > a {
  text-decoration:none;
  color:#845EC2;
  font-weight: 700;
}
.roww{
    display: flex;
    gap: 3rem;
    padding: 1rem 0;
}
.content{
    width: 60%;
}
.content h1{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.content p{
    line-height: 1.5;
    font-weight: bold;
}
.banner-image{
    width: 547px;
    height: 405px;
}
.banner-image img{
    width: 100%;
    height: 100%;
}

/* third section */
/* .third-section{

} */
.third-heading{
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    color: #845EC2;
    font-family: 'Playfair Display', serif;
}
.col p{
    text-align: justify;
    line-height: 1.5;
}
.col a{
    color: #845EC2;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

/* fourth section */
.col img{
    width: 100%;
    height: 50%;
}
.col-fourth{
    border: 1px solid grey;
    /* display: flex;
    flex-direction: column; */
}
/* .package-image{
    height: 60%;

} */
.description-view{
    padding: 1rem;
    /* height: 30%; */
}
.view-more{
    background-color: #00C9A7; 
    padding: 0.45rem 0.75rem;
}
.view-more a, .fourth{
    color: #0a0211;
}

